<h1>Call Logs</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<table>
  <tr>
    <th>Date & Time</th>
    <th>Number</th>
    <th>Baby Age</th>
    <th>Callback?</th>
  </tr>

<% @call_logs.each do |call_log| %>
  <tr>
    <td><%= call_log.created_at %></td>
    <td><%= call_log.from_number %></td>
    <td><%= call_log.babyAge %></td>
    <td><%= call_log.callBack %></td>
    <td><%= link_to 'Show', call_log %></td>
    <td><%= link_to 'Edit', edit_call_log_path(call_log) %></td>
    <td><%= link_to 'Destroy', call_log, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

